<form [formGroup]="formPayment" id="container-payment">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Número do cartão</mat-label>
      <input matInput formControlName="number" mask="0000 0000 0000 0000">
      <mat-icon matSuffix>payment</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nome no cartão</mat-label>
      <input matInput formControlName="name">
      <mat-icon matSuffix>badge</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Código de segurança</mat-label>
      <input matInput formControlName="cvv" mask="000">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data de validade</mat-label>
      <input matInput formControlName="dateValidate" mask="00/0000">
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>
  </p>
  <div id="buttons">
    <button mat-raised-button *ngIf="!show_button_try_again" (click)="payAgain()"[disabled]="!formValid" color="primary">Concluir</button>
    <button mat-raised-button *ngIf="show_button_try_again" (click)="payAgain()" [disabled]="!formValid" color="primary">Tentar novamente</button>
    <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
  </div>
</form>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "timer" [fullScreen] = "true"></ngx-spinner>
