<header>
  <a href="#"> <img src="../../../../../assets/logo.png" alt="Loja Store"></a>
  <nav>
    <li><a routerLink="home" href="">Home</a></li>
    <li><a routerLink="products" href="">Produtos</a></li>
    <li *ngIf="!authenticated"><a routerLink="login" href="">Entrar</a></li>
    <li *ngIf="authenticated"><a routerLink="login" (click)="logout()">Sair</a></li>
    <button mat-button id="cart-count" matBadge="{{localStorageService.productsNumber}}" matBadgeColor="warn"
      routerLink="shopping-cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </nav>
</header>
