<div id="container">
  <mat-horizontal-stepper>
    <mat-step label="Endereço">
      <div>
        <form [formGroup] ="formAddress">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Cep</mat-label>
              <input matInput formControlName="zipcode" cep [textMask]="{mask: MASKS.cep.textMask}">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Rua</mat-label>
              <input matInput formControlName="street">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Número</mat-label>
              <input matInput formControlName="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Bairro</mat-label>
              <input matInput formControlName="district">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input matInput formControlName="city">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <input matInput formControlName="state">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" id="address-complement">
              <mat-label>Complemento</mat-label>
              <input matInput formControlName="complement">
            </mat-form-field>
          </p>
        </form>
      </div>
      <div id="div-next-address">
        <button mat-flat-button color="primary" [disabled]="!formAddressValid"  matStepperNext>Seguir para dados do cartão</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="formPayment" label="Cartão">
      <div>
        <form [formGroup]="formPayment" id="container-payment">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Número do cartão</mat-label>
              <input matInput formControlName="number" mask="0000 0000 0000 0000">
              <mat-icon matSuffix>payment</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nome no cartão</mat-label>
              <input matInput formControlName="name">
              <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Código de segurança</mat-label>
              <input matInput formControlName="cvv" mask="000">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Data de validade</mat-label>
              <input matInput formControlName="dateValidate" mask="00/0000">
              <mat-icon matSuffix>event</mat-icon>
            </mat-form-field>
          </p>
        </form>
      </div>
      <div id="div-next-payment">
        <h2>Total: {{priceTotal | currency: "BRL"}}</h2>
        <button mat-flat-button matStepperPrevious id="button-back">Voltar</button>
        <button mat-flat-button color="primary" (click)="pay()" [disabled]="!(formAddressValid && formPaymentValid)" matStepperNext>Finalizar compra</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "timer" [fullScreen] = "true"></ngx-spinner>
