<div id="container">
  <div id="div-search">
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar produto:</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput type="text" [(ngModel)]="productName" (keyup)="getByName()">
    </mat-form-field>
  </div>
  <div class="l-cards">
    <app-product-card *ngFor="let p of products" [product]="p"></app-product-card>
    <!-- <app-product-card *ngFor="let p of products" [product]="p" (click)="details(p)"></app-product-card> -->
  </div>
</div>
