li {
  list-style: none;
}

#container {
  width: 90%;
  margin: 20px auto;
}

.l-cards {
  padding: 30px;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}


mat-form-field {
  width: 70%;
  max-width: 500px;
}

#div-search {
  text-align: center;
}
