<div id="container">
  <div id="div-search">
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar produto:</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput type="text" [(ngModel)]="productName" (keyup)="getByName()">
    </mat-form-field>
  </div>
  <div class="l-cards">
    <app-product-card *ngFor="let p of products" (productEdited)="loadAll()" [product]="p"></app-product-card>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "timer" [fullScreen] = "true"></ngx-spinner>